@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

html {
    background-color: #595959;
    height: 100%;
}

body {
    background-color: #EFEBCE;
    max-width: 50em;
    height: 100%;
    margin: auto;
    font-size: 100%;
    line-height: 1.618;
    padding: 5%;
    display: block;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 740;
}

hr {
    border-bottom: 5px solid #595959;
}

.navbar {
    display: flex;
    margin-left: 0;
    justify-content: space-between;
}

.title {
    font-size: 150%;
    font-weight: 900;
}

.nav-item {
    font-size: 120%;
    font-weight: 400;
}

a.nav {
    color: black;
    text-align: center;
    text-decoration: none;
}

a.list-item {
    color: black;
    text-decoration: none;
}

.nav-item:hover {
    color: #595959;
    text-decoration: underline;
}

ul.nav {
    display: table-row;
    margin: 0;
    padding: 0;
}

li.nav {
    width: 120px;
    display: table-cell;
}

ul {
    list-style-type: disc;
}

div.list-item {
    font-size: 150%;
    font-weight: 300;
}

div.list-item:hover {
    text-decoration: underline;
}

h1.post-title {
    font-weight: 900;
    font-size: 400%;
    padding: 0;
    margin: 0;
    line-height: normal;
}

div.date {
    font-size: 150%;
    font-weight: 300;
}

#content {
    min-height: calc(100vh - 40px);
}
footer{
    text-align: right;
}